.lgyrlz {
  background-color: transparent !important;
}
.hhFJlm {
  background-color: #a62aef !important;
}
.evumGo,
.hdoSbV {
  /* background-color: #161522 !important; */
  background-color: #fff !important;
  color: #000 !important;
}
.jnvoRm {
  color: #fff !important;
}
.gTcqlT {
  fill: #fff !important;
}
.hZVDbF {
  color: #fff !important;
}
.iGdKqv {
  border-color: #fff !important;
  box-shadow: none;
  color: #fff !important;
}
.heKKwK {
  border-color: #fff !important;
  box-shadow: none;
  color: #fff !important;
}
.eUyVkd,
.jibsak {
  background-color: #161522 !important;
  color: #fff !important;
}
.jFIScR {
  background-color: transparent;
  color: #000 !important;
}
/* .evumGo {
  background-color: #161522 !important;
} */
.hsqAaa {
  display: inline !important;
}
.iONwHy {
  width: unset !important;
}
.gcQKnf {
  fill: #fff !important;
}
.jJOcej {
  color: #fff !important;
}
.iZJBPy,
.jJOcej,
.jWkMFN,
.gTGzfO {
  fill: #1263f1 !important;
}
.jRNEBu,
.fwjcqd {
  color: #fff !important;
}
.eSvlCC,
.gcuAnX,
.VUrNH,
.fUsIex,
.idQpxt {
  color: #000 !important;
  background-color: #e5e7e7 !important;
}

.JTniw,
.bsLwMN {
  background-color: transparent !important;
}
.hCNSTz {
  width: 100% !important;
}
.JTniw,
.bsLwMN {
  padding: 0px 30px 0px 0px !important;
  /* margin-top: 5px !important; */
}
.dMyrsm {
  background-color: transparent !important;
}
.kChkRq {
  background-color: #690a74 !important;
}
.jWkMFN {
  fill: #fff !important;
}

.hufIwr {
  fill: #fff !important;
}
.jJOcej {
  /* color: #fff !important; */
  background-color: #e5e7e7 !important;
}
.bsLwMN {
  background-color: transparent !important;
}
.eTpfnX {
  background-color: #fff !important;
}
.gEUBpy,
.hibIvz,
.cCSKON {
  background-color: #690a74 !important;
}
.gEUBpy:hover {
  background-color: #46065f !important;
}
.jjEZxv {
  background-color: transparent !important;
}
.cacumS {
  background-color: transparent !important;
}
.eUVghC {
  background-color: transparent !important;
}
.jvEWoM {
  color: #fff !important;
}
.kvjDUB {
  color: #fff !important;
}
.kofeUK {
  color: #fff !important;
}
.dqmfMZ {
  color: #fff !important;
}
.gfaeWj {
  fill: #fff !important;
}

@media (max-width: 970px) {
  .dMyrsm {
    background-color: #171798 !important ;
  }
  /* .kChkRq {
    background-color: #171798 !important;
  } */
}

@media (max-width: 480px) {
  .dMyrsm {
    background-color: #171798 !important;
  }
  /* .kChkRq {
    background-color: #171798 !important;
  } */
}
@media (max-width: 768px) {
  .dMyrsm {
    background-color: #171798 !important;
  }
  /* .kChkRq {
    background-color: #171798 !important;
  } */
}
.dnbNHl,
.imefRD {
  background: transparent !important;
}
.btnSwapNonActive,
.btnSwapNonActive:hover,
.btnLiquidityNonActive,
.btnLiquidityNonActive:hover {
  background: transparent !important;
  color: #fff !important;
  border: 0px;
  box-shadow: none !important;
  opacity: 1 !important;
}
.btnSwap:active,
.btnSwap:visited,
.btnLiquidity:active,
.btnLiquidity:visited {
  background: #e5e7e7 !important;
  color: black !important;
  border-radius: 16px !important;
  padding: 4px 19px !important;
  opacity: 1 !important;
}
.jzgrgs,
.gudCje,
.bKuZXg {
  background-color: #fff !important;
  color: black !important;
}
.sc-fiKUUL h2,
.sc-fiKUUL div {
  color: black !important;
}
.gcQKnf,
.hufIwr {
  fill: #1263f1 !important;
}
.sc-gsTCUz {
  color: rgb(112, 141, 183) !important;
}
.fbovLQ,
.isnKzR {
  background-color: #fff !important;
  box-shadow: none !important;
  border: 1px solid #e5e7e7;
}
.hSFnST,
.iZlugh,
.fqDZcL {
  color: black !important;
}
.hjKPmy,
.CXMyy,
.eLDzjK {
  fill: black !important;
}
.fsSeeb,
.hGkMvb,
.gEMbSb {
  color: black !important;
}
.bTDxgI {
  background-color: #1263f1 !important;
}
.joKvYL,
.kWqKKK,
.kIJjpa,
.gcjvww {
  background-color: #46065f !important;
  color: #fff !important;
}
.joKvYL:hover,
.kWqKKK:hover,
.kIJjpa:hover {
  color: #fff !important;
  background-color: rgb(18, 99, 241) !important;
  border-color: rgb(18, 99, 241) !important;
  opacity: 0.65 !important;
}
.jRNEBu,
.fwjcqd,
.jJOcej,
.IYzyH {
  background-color: transparent !important;
}
.token-amount-input::placeholder {
  color: black !important;
}
.fVzdOE {
  background-color: #171798 !important;
  color: #fff !important;
}
.gcuAnX,
.VUrNH {
  background-color: #e5e7e7 !important;
  color: #000 !important;
}
.cxhRnZ {
  display: flex;
  justify-content: center;
}
.btnAddLiqidity {
  background-color: #46065f !important;
  /* padding: 10px 30px !important; */
  color: #fff !important;
  width: 40% !important;
  display: flex;
  justify-content: start !important;
}
.btnAddLiqidity:hover {
  background-color: #1263f1 !important;
  color: #fff !important;
}
.iCBgbH,
.iGeHqK {
  background-color: #1263f1 !important;
}
.iGeHqK {
  fill: #fff;
}
.hJLzvk,
.Cmsme {
  background: transparent !important;
}

.emvnVi,
.bQrGOq,
.dpsoee {
  color: rgb(7, 22, 45) !important;
}
.PZmzo,
.hGwVBF,
.kOVBQR {
  background-color: #46065f !important;
  box-shadow: none !important;
  opacity: 1 !important;
}
.feDejW:hover {
  background-color: transparent !important;
}
.PZmzo:hover,
.hGwVBF:hover,
.kOVBQR:hover {
  background-color: rgb(18, 99, 241) !important;
  box-shadow: none !important;
  opacity: 0.75 !important;
}
.eIbyFk,
.fMoIlI,
.hrEUwY,
.kzkmZo,
.kboLGE {
  color: #000 !important;
}
.hiRMEQ,
.leKiKm,
.fZeXOz,
.jGckDC,
.itigIp {
  background-color: #e5e7e7 !important;
  border: 1px solid #e5e7e7 !important;
  color: #000 !important;
  box-shadow: none !important;
}
.hiRMEQ::placeholder,
.fZeXOz::placeholder,
.jGckDC::placeholder {
  color: #000 !important;
}
/* .leKiKm {
  background-color: #e5e7e7 !important;
  color: #000 !important;
  border: 1px solid #e5e7e7 !important;
} */
.txtColorBlack {
  color: #000 !important;
}
.btnBlack {
  background: #000 !important;
}
.dBgqSY,
.kcqjcQ,
.dZNSBp,
.dZNSBp,
.fKnxHN {
  background-color: #e5e7e7 !important;
  color: #000 !important;
}
.dBgqSY:hover,
.kcqjcQ:hover,
.dZNSBp:hover,
.dZNSBp:hover,
.fKnxHN:hover {
  background-color: rgb(215 202 236) !important;
  color: #000 !important;
  opacity: 1 !important;
}
.eWzewY,
.eXpmsV,
.jvEWoM,
.jnleWd,
.kvjDUB {
  color: #000 !important;
}
.eyTOQi,
.ktYTAy {
  fill: #000 !important;
}
.bkvVJF,
.bNeaU {
  background-color: #fff !important;
  opacity: 1 !important;
}
.efbwOe,
.LeCWm {
  color: #738fb8 !important;
}
.iGKnqJ,
.icyjVL,
.bCLZBw:hover,
.ilrUOc:hover,
.bCLZBw:hover,
.hSCCHK:hover,
.IahEH:hover,
.fqPRzO:hover,
.ilDUPL:hover,
.eIaIqp:hover,
.djnXaA:hover,
.cNGgVS:hover,
.hSCCHK:hover,
.bCLZBw:hover .fsSeeb,
.ilrUOc:hover .hGkMvb,
.hSCCHK:hover .gEMbSb,
.bCLZBw:hover .gEMbSb,
.cNGgVS:hover .hGkMvb,
.hSCCHK:hover .fsSeeb {
  background-color: #e5e7e7 !important;
}
.eIaIqp:focus,
.IahEH:focus {
  background-color: #e5e7e7 !important;
}
.farm_serv_box {
  /* background: #0b3d4d !important; */
  background: #690a74 !important;

  padding: 22px !important;
  border-radius: 30px !important;
}
/* .farm_content p {
  color: #000 !important;
} */
.harvest {
  background-color: #fff !important;
  color: #000 !important;
}
.harvest:hover {
  background-color: #071731 !important;
  border: 1px solid #e5e7e7 !important;
  color: #fff !important;
}
.farm_input input {
  background-color: #fff !important;
  color: #000 !important;
}
.farm_submit_btn button {
  background-color: #fff !important;
  color: #000 !important;
  background-image: none !important;
}
.farm_submit_btn button:hover {
  background-color: rgb(215 202 236) !important;
}

.farm_usd_set p {
  color: #000 !important;
}
.ule_imgset {
  color: #fff !important;
}
.jmcbFC:hover {
  background: #46065f !important;
}
.evqhkY,
.jmcbFC {
  background-color: #690a74 !important;
}
.evqhkY:hover,
.qtpfC:hover {
  background: #46065f !important;
}
.jSNiHo:hover {
  background: #46065f !important;
  /* color: #749BD8; */
}
.qtpfC:hover {
  background: #46065f !important;

  /* color: #749BD8; */
}
/* .question {
  color: #000 !important;
  background-color: rgb(215 202 236) !important;
} */
.cwbBLc,
.iGqAKA {
  background-color: rgb(112, 141, 183) !important;
}
.tableWalletAddress {
  border: 1px solid #fff;
  padding: 10px 20px !important;
  border-radius: 15px;
}
.farmHeadings {
  font-size: 17px;
  font-weight: 500;
}
.farmHistory {
  font-size: 20px;
  font-weight: 600;
}
.staking_price .farm_price span {
  font-weight: 100;
}
.staking_price h2 {
  font-weight: 100;
}
.eSvlCC:hover,
.gcuAnX:hover,
.VUrNH:hover,
.fUsIex:hover {
  background-color: #071731 !important;
  opacity: 1 !important;
  color: #fff !important;
}
.gQUrCu,
.gQUrCu:hover,
.hSTWmr,
.hSTWmr:hover,
.BdYgq,
.BdYgq:hover,
.cJnpLQ,
.cJnpLQ:hover,
.itigIp,
.itigIp:hover,
.cJnpLQ,
.cJnpLQ:hover {
  background-color: #e5e7e7 !important;
  color: #000 !important;
}
.cJnpLQ {
  box-shadow: none !important;
}
.dMyrsm {
  background-color: #690a74 !important;
}

/* background-image: linear-gradient(90deg,#380458,#640b6e)!important; */
.jjEZxv {
  background-color: #102648 !important;
}
/* .cjuMmG {
  margin: 0px 20px !important ;
} */
.jeAreS {
  margin-top: 10px !important;
}
.kdxFnu {
  margin: 10px 5px !important ;
}
.cWctTA,
.cOeNNc {
  margin: 10px 10px !important ;
  padding: 7px 3px 0px 0px !important;
}
.huihyY {
  width: 100px !important;
  margin: 10px 0px !important;
}
.desktop-icon,
.foiiQF {
  max-height: 155% !important;
  /* width: 100px !important; */
  margin: 10px 0px !important;
  /* display: none !important; */
  /* background-image: url("D:\Arbitech Solution\cst_swap\src\assets\logo (1).png"); */
}
@media (max-width: 480px) {
  .fVTnYc {
    padding: 0 10px !important;
  }
}
.bzzZRT,
.dZWQlv,
.iNQawZ,
.gBGBRU,
.kWYeBS,
.blPYIX {
  background-color: #690a74 !important;
}
.iWrzcz:hover,
.imwGNM:hover,
.gBGBRU:hover,
.blPYIX:hover,
.kWYeBS:hover,
.iNQawZ:hover,
.eHiEdh:hover,
.fbkuZe:hover {
  background-color: #46065f !important;
}
.eMPkOf,
.iYAzYL {
  margin-top: 10px !important;
}
.jmcbFC,
.kWYeBS,
.evqhkY,
.gBGBRU {
  box-shadow: none !important;
}
.hUqpFS,
.iHQmOP,
.eUyVkd,
.eWTblq,
.eUyVkd,
.jibsak,
.eRXwyG,
.kWAuZF,
.fVfBIP {
  background-color: #fff !important;
  color: #000 !important;
}
.hgQjmC,
.kVQlAV,
.jEqguw,
.ioGlir {
  background-color: #fff !important;
  color: #000 !important;
}
.hyBudw {
  background-color: #fff !important;
  color: #000 !important;
}
@media screen and (min-width: 480px) {
  .kCznXV,
  .fVTnYc {
    background-size: auto !important;
  }
}
.swapDescription {
  /* background-color: #690a74 !important; */
  /* padding: 10px !important; */
  min-width: 210px !important;
  color: black !important;
}
.sc-fiKUUL div {
  color: #000 !important;
}
